<!-- <input type="text" [(ngModel)]="title" class="p">

<h1>{{title}}</h1>
<app-server></app-server>
<app-servers></app-servers> -->

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm In the app-Component!</h3>
            <hr> -->
<!-- <app-servers></app-servers> -->
<!-- <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert> -->
<!-- <div app-servers></div> -->
<!-- <div class="app-servers"></div> -->
<!-- </div>
    </div>
</div> -->
<!-- <div class="text-center">
    <app-username></app-username>
</div> -->
<!-- <div class="text-center">
    <app-directives-assignment></app-directives-assignment>
</div> -->



<!-- whole Project goes along the below div -->

<!-- <app-header (featureSelected)="onNavigation($event)"></app-header> -->
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
<!-- <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
            <app-shopping-list *ngIf="loadedFeature === 'shopping-list'"></app-shopping-list> -->
<router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>My Servers</h2>
            <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
            <br><br>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let server of servers; let i = index" (click)="onRemoveServer(i)">
                  ({{i}}) {{server}}
                </li>
            </ul>
        </div>
    </div>
</div> -->


<!-- 
<div class="container">
    <app-cockpit (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onFirstChanges()">Change First Element</button> &nbsp;
        <button class="btn btn-primary" (click)="onDestroyFirst()">Destroy First</button>
       <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement" [name]="serverElement.name">
        <p #contentParagraph>
            <strong *ngIf="serverElement?.type == 'server'" style="color: red;">{{serverElement?.content}}</strong>
            <em *ngIf="serverElement?.type =='blueprint'">{{serverElement?.content}}</em>
        </p>
       </app-server-element>
    </div>
</div> -->

<!-- 84.video Assignment -->
<!--   
<div class="row">
    <div class="col-xs-12">
        <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-odd *ngFor="let x of oddNumbers" [number]="x">
            {{x}}
        </app-odd>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-even *ngFor="let x of evenNumbers" [number]="x">
            {{x}}
        </app-even>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onlyOdd=!onlyOdd">Only Show Odd Numbers</button>
            <br><br>
            <ul class="list-group">
                <div *ngIf="onlyOdd">
                    <li class="list-group-item" *ngFor="let odd of oddNum" [ngClass]="{odd: odd %2 !==0}"
                        [ngStyle]="{backgroundColor: odd %2 !==0 ? 'yellow' : 'orange'}">
                        {{odd}}
                    </li>
                </div> -->
<!-- <div *ngIf="!onlyOdd">
                    <li class="list-group-item" *ngFor="let even of evenNum"[ngClass]="{even: even %2 !==0}"
                    [ngStyle]="{backgroundColor: even %2 !==0 ? 'yellow' : 'orange'}">
                        {{even}}
                    </li>
                </div>
                <ng-template [ngIf]="!onlyOdd">
                    <div >
                        <li class="list-group-item" *ngFor="let even of evenNum"[ngClass]="{even: even %2 !==0}"
                        [ngStyle]="{backgroundColor: even %2 !==0 ? 'yellow' : 'orange'}">
                            {{even}}
                        </li>
                    </div>
                </ng-template> -->

<!-- <div *appUnless="!onlyOdd">
                    <li class="list-group-item" *ngFor="let even of evenNum" [ngClass]="{odd: even %2 !==0}"
                        [ngStyle]="{backgroundColor: even %2 !==0 ? 'yellow' : 'orange'}">
                        {{even}}
                    </li>
                </div>
            </ul>
            <h3 appHighlightDirective>Style with a high light Directive</h3>
            <h3 appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with a Better Directive</h3> -->
<!-- 1.switch Directives -->
<!-- <div [ngSwitch]="value">
                <p *ngSwitchCase="2">value is 5</p>
                <p *ngSwitchCase="10">value is 10</p>
                <p *ngSwitchCase="15">value is 15</p>
                <p *ngSwitchCase="100">value is 100</p>
                <p *ngSwitchDefault>value is Default</p>
            </div> -->
<!-- 
        </div>
    </div>
</div> -->



<!-- services concept is started -->

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <app-new-account></app-new-account>
            <br>
            <app-account *ngFor="let acc of accountsArray; let i = index;"
             [account]="acc" [id]="i">
                {{acc}}
            </app-account>
        </div>

    </div>
</div> -->

<!-- services assignment -->

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <app-active-users></app-active-users>
            <app-inactive-users></app-inactive-users>
        </div>
    </div>
</div> -->




<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1 col-sm-offset-2">
            <ul class="nav nav-tabs">
                <li routerLink="/home" routerLinkActive="Active" class="Active"
                [routerLinkActiveOptions]="{exact:true}"><a >Home</a></li>
                <li><a routerLink="/servers" routerLinkActive="Active">Servers</a></li>
                <li><a routerLink="/users" routerLinkActive="Active">Users</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1 col-sm-offset-2">
            <router-outlet></router-outlet>
        </div>
    </div>
   
</div> -->


<!-- observable Topic -->


<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-offset-1 col-md-offset-2">
            <a routerLink="/">Home</a> |
            <a [routerLink]="['/user-1', 1]">User1</a> |
            <a routerLink="['/user-2',2]">User2</a>
        </div>
    </div>
</div>
<hr>
<p *ngIf="userActivated">Activated!</p>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-offset-1 col-md-offset-2">
        <router-outlet></router-outlet>
    </div>
</div> -->


<!-- Template driven FORMS -->

<!-- <div class="container">
    <div class="row">
        <div class="colxs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
            <form  (ngSubmit)="onSubmit()" #f="ngForm">
                <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                    <div class="form-group">
                        <label for="userName">UserName</label>
                        <input type="text" id="username" class="form-control" name="username" ngModel required>
                    </div>
                    <button class="btn btn-default" (click)=" suggestedUserName()">Suggest an UserName</button>
                    <div class="form-group">
                        <label for="userName">Email</label>
                        <input type="email" id="email" class="form-control" name="email" ngModel required email
                            #email="ngModel">
                    </div>
                    <p class="help-block" *ngIf="email.invalid && email.touched">Please enter a valid value</p>
                </div>
                <p *ngIf="userData.invalid && userData.touched">UserData is invalid!</p>
                <div class="form-group">
                    <label for="secrete">Screte a Question</label>
                    <select name="" id="secrete" class="form-control" name="secrete" [ngModel]="defaultQuestion"
                        required>
                        <option value="pet">Your First Pet?</option>
                        <option value="teacher">Your First Teacher?</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="questionAnswer" class="form-control" rows="3" [(ngModel)]="answer"></textarea>
                </div>
                <div>
                    <p>Your reply: {{answer}}</p>
                </div>
                <div class="radio" *ngFor="let gender of genders">
                    <label for="">
                        <input type="radio" name="gender" ngModel [value]="gender" required>{{gender}}
                    </label>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="row" *ngIf="submitted">
    <div class="col-xs-12">
        <h3>Your Data</h3>
        <p>UserName: {{user.username}}</p>
        <p>Mail:{{user.email}} </p>
        <p>Secrete Question:{{user.secreteQuestion}} </p>
        <p>Answer:{{user.answer}} </p>
        <p>Gender: {{user.gender}} </p>
    </div>
</div> -->

<!-- template driven form assignment starts here-->

<!-- <div class="container">
    <div class="row">
        <div class="colxs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
            <form (ngSubmit)="onSubmitForm(t)" #t="ngForm">
                <div class="form-group">
                    <label for="">Mail</label>
                    <input type="email" id="email" class="form-control" name="email" ngModel required email #email="ngModel">
                    <span class="help-block" *ngIf="email.invalid && email.touched">Please enter a valid email?</span>
                </div>
                <div class="form-group">
                    <label for="subscription">Choose a Subcription</label>
                    <select name="subscription" id="subscription" [ngModel]="selectedSubscription" class="form-control">
                        <option *ngFor="let subscription of subscriptions"
                         [value]="subscription">{{subscription}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" name="password" ngModel required #password="ngModel">
                    <span class="help-block" *ngIf="password.invalid && password.touched">Please enter a valid Password?</span>
                </div>
                <p *ngIf="t.invalid && t.touched">The Form is invalid! </p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<hr>
<div class="text-center" *ngIf="tempFormSubmitted">
<p>Email: {{tempUser.email}}</p>
<p>password: {{tempUser.password}}</p>
<p>selected: {{tempUser.subscription}}</p>
</div> -->


<!-- Reactive forms started from here -->

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
            <form [formGroup]="contactForm" (ngSubmit)="onReactiveSubmit()">
                <div formGroupName="userData">
                    <div class="form-group">
                        <label for="userName">UserName</label>
                        <input type="text" id="username"
                         class="form-control" formControlName="username">
                         <span class="help-block" *ngIf="contactForm?.get('userData.username')?.invalid && contactForm?.get('userData.username')?.touched ">Please enter a valid username!</span>
                    </div>
                    <div class="form-group">
                        <label for="userName">Email</label>
                        <input type="email" id="email" class="form-control" formControlName="email" email>
                        <span class="help-block" *ngIf="contactForm?.get('userData.email')?.invalid && contactForm?.get('userData.email')?.touched ">Please enter a valid Email!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="secrete">Screte a Question</label>
                    <select name="" id="secrete" class="form-control" formControlName="secrete">
                        <option value="pet">Your First Pet?</option>
                        <option value="teacher">Your First Teacher?</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="questionAnswer" class="form-control" rows="3" formControlName="questionAnswer" [(ngModel)]="answer"></textarea>
                    <span class="help-block" *ngIf="contactForm?.get('questionAnswer')?.invalid && contactForm?.get('questionAnswer')?.touched ">Please enter a valid texrarea!</span>
                </div>
                <div class="radio" *ngFor="let gender of genders">
                    <label>
                        <input type="radio" id="gender" formControlName="gender" [value]="gender">{{gender}}
                    </label>
                </div>
                <div formArrayName="hobbies">
                    <h4>Your hobbies</h4>
                    <button class="btn btn-primary" type="button" (click)="onAddHobby()">Add Hobby</button> &nbsp;
                    <div class="form-group" *ngFor="let hobbyControl of controls; let i= index" >
                        <input type="text" class="form-control" [formControlName]='i'>
                    </div>
                </div>&nbsp;
                <span class="help-block" *ngIf="contactForm?.invalid && contactForm?.touched ">Please enter a valid Form Details!</span>
                <button class="btn btn-primary" type="submit" [disabled]="contactForm.invalid">Submit</button>&nbsp;
            </form>
        </div>
    </div>
</div>
<div *ngIf="reactiveFormSubmitted">
    <p>Submitted!</p>
</div> -->

<!-- Reactive form Assignment starts here -->

<!-- <div class="container">
    <div class="row">
        <div class="colxs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
            <form [formGroup]="projectForm" (ngSubmit)="onSubmitProjectForm()">
                <div class="form-group">
                    <label for="projectname">Project Name</label>
                    <input type="text" id="projectname" class="form-control" formControlName="projectname">
                </div>
                <div class="form-group">
                    <label for="emails">Email</label>
                    <input type="email" id="emails" class="form-control" formControlName="emails">
                </div>
                <div class="form-group">
                    <label for="projectstatus">Project Status</label>
                    <select name="" id="projectstatus" class="form-control" formControlName="projectstatus">
                        <option value="stable">Stable</option>
                        <option value="finished">Finished</option>
                        <option value="critical">Critical</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Create Project</button>
            </form>
        </div>
    </div>
</div> -->